<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller="Controller" ng-class="getHtmlClass()">

    <div id="controls">
      <table>
        <tr>
          <td>Radius:</td>
          <td>{{rosette.radius}}</td>
          <td>
            <input
              type="range"
              min="50"
              max="1000"
              ng-model="rosette.radius"
              ng-change="recompute()">
            </input>
          </td>
        </tr>
        <tr>
          <td>Guide Radius:</td>
          <td>{{rosette.guideCircle.radius}}</td>
          <td>
            <input
              type="range"
              min="50"
              max="1000"
              ng-model="rosette.guideCircle.radius"
              ng-change="recompute()">
            </input>
          </td>
        </tr>
        <tr>
          <td>Samples:</td>
          <td>{{rosette.numCircles}}</td>
          <td>
            <input
              type="range"
              min="1"
              max="64"
              ng-model="rosette.numCircles"
              ng-change="recompute()">
            </input>
          </td>
        </tr>
      </table>
      Render Mode:
      <select ng-model="mode">
        <option value="CIRCLES">Overlapping Circles</option>
        <option value="GRID">Warped Grid</option>
        <option value="NONE">None</option>
      </select>
      <input
        type="checkbox"
        ng-model="wireFrame"
        ng-disabled="'CIRCLES' !== mode">
        Wire frame
      </input><br>
      <input
        type="checkbox"
        ng-model="plotVertices">
        Plot Vertices
      </input><br>
      <input
        type="checkbox"
        ng-model="plotRadials">
        Plot Radials
      </input><br>
      <input
        type="checkbox"
        ng-model="plotCenters">
        Plot Centers
      </input><br>
    </div>

    <svg>
      <g ng-if="'CIRCLES' === mode">
        <circle ng-repeat="circle in circles"
          ng-attr-cx="{{circle.center.x}}"
          ng-attr-cy="{{circle.center.y}}"
          ng-attr-r="{{circle.radius}}"
          ng-class="getShapeClass()"/>
      </g>

      <g ng-if="plotCenters">
        <circle ng-repeat="circle in circles"
          ng-attr-cx="{{circle.center.x}}"
          ng-attr-cy="{{circle.center.y}}"
          r="2"
          style="fill: red"/>
      </g>

      <g ng-if="plotVertices">
        <g ng-repeat="angle in angles">
          <circle ng-repeat="point in vertices[angle]"
            ng-attr-cx="{{point.x}}"
            ng-attr-cy="{{point.y}}"
            r="2"
            ng-class="getVertexClass(angle)"/>
          <text ng-repeat="point in vertices[angle]"
            ng-attr-x="{{point.x}}"
            ng-attr-y="{{point.y}}"
            ng-class="getTextClass(angle)">({{angle}}, {{$index}})</text>
        </g>
      </g>

      <g ng-if="plotRadials">
        <g ng-repeat="angle in angles">
          <path ng-class="getRadialClass(angle)"
            ng-attr-d="{{getRadialPath(angle)}}"
            stroke-width="1"
            fill="none"/>
          <text ng-attr-x="{{getRadialLabelCoords(angle).x}}"
            ng-attr-y="{{getRadialLabelCoords(angle).y}}"
            ng-class="getTextClass(angle)">{{ angle }}</text>
        </g>
      </g>
    </svg>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.7.1/coffee-script.min.js"></script>

    <script type="text/coffeescript" src="geometry/point.coffee"></script>
    <script type="text/coffeescript" src="geometry/circle.coffee"></script>
    <script type="text/coffeescript" src="geometry/index.coffee"></script>
    <script type="text/coffeescript" src="geometry/rosette.coffee"></script>
    <script type="text/coffeescript" src="controller.coffee"></script>
  </body>
</html>