<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="style.css">
    <link type="text/css" rel="stylesheet" href="svg.css">
    <link type="text/css" rel="stylesheet" href="https://google-code-prettify.googlecode.com/svn/loader/prettify.css" />
    <link type="text/css" rel="stylesheet" href="https://google-code-prettify.googlecode.com/svn/loader/skins/sunburst.css" />
  </head>
  <body ng-controller="Controller as ctrl" class="html-normal">

    <div id="controls" ng-cloak>
      <table>
        <tr>
          <td>Radius:</td>
          <td>{{ctrl.rosette.radius}}</td>
          <td>
            <input
              type="range"
              min="50"
              max="1000"
              ng-model="ctrl.rosette.radius"
              ng-change="ctrl.recompute()">
            </input>
          </td>
        </tr>
        <tr>
          <td>Guide Radius:</td>
          <td>{{ctrl.rosette.guideCircle.radius}}</td>
          <td>
            <input
              type="range"
              min="50"
              max="1000"
              ng-model="ctrl.rosette.guideCircle.radius"
              ng-change="ctrl.recompute()">
            </input>
          </td>
        </tr>
        <tr>
          <td>Samples:</td>
          <td>{{ctrl.rosette.numCircles}}</td>
          <td>
            <input
              type="range"
              min="1"
              max="64"
              ng-model="ctrl.rosette.numCircles"
              ng-change="ctrl.recompute()">
            </input>
          </td>
        </tr>
      </table>
      Render Mode:
      <select ng-model="ctrl.mode">
        <option value="CIRCLES">Overlapping Circles</option>
        <option value="GRID">Warped Grid</option>
        <option value="GRID_ARCS">Warped Grid (Arcs)</option>
        <option value="NONE">None</option>
      </select><br>
      <input
        type="checkbox"
        ng-model="ctrl.plotVertices">
        Plot Vertices
      </input><br>
      <input
        type="checkbox"
        ng-model="ctrl.plotRadials">
        Plot Radials
      </input><br>
      <input
        type="checkbox"
        ng-model="ctrl.plotCircleCenters">
        Plot Circle Centers
      </input><br>
      <input
        type="checkbox"
        ng-model="ctrl.plotCellCenters">
        Plot Grid Cell Centers
      </input><br>
      <input
        type="checkbox"
        ng-model="ctrl.plotCellMedians">
        Plot Grid Cell Medians
      </input><br>
      <input
        type="checkbox"
        ng-model="ctrl.drawCellInlays">
        Draw Cell Inlays
      </input>
      <input type="number" ng-model="ctrl.inlaySize" min="1" max="100"><br>
      <select ng-model="ctrl.inlayStyle"
        ng-options="opt as opt.label for opt in ctrl.inlayStyles"
        ng-disabled="!ctrl.drawCellInlays">
      </select>
      <br>

      <button ng-click="ctrl.showSource()" ng-hide="ctrl.srcVisible">Show SVG Source</button>
      <button ng-click="ctrl.hideSource()" ng-show="ctrl.srcVisible">Hide SVG Source</button>
    </div>

    <div id="rendering" ng-cloak>
      <svg>
        <rect x="0" y="0" width="100%" height="100%" class="background"/>

        <g ng-if="'CIRCLES' === ctrl.mode">
          <circle ng-repeat="circle in ctrl.rosette.circles"
            ng-attr-cx="{{circle.center.x}}"
            ng-attr-cy="{{circle.center.y}}"
            ng-attr-r="{{circle.radius}}"
            class="circle"/>
        </g>
        <g ng-if="'GRID' === ctrl.mode" ng-repeat="cellsForAngle in ctrl.rosette.cells">
          <path ng-repeat="cell in cellsForAngle"
            ng-attr-d="{{cell.toPolygonSVG()}}"
            class="grid-cell"
            ng-class="cell.cssClass"/>
        </g>
        <g ng-if="'GRID_ARCS' === ctrl.mode" ng-repeat="cellsForAngle in ctrl.rosette.cells">
          <path ng-repeat="cell in cellsForAngle"
            ng-attr-d="{{cell.toArcsSVG(ctrl.rosette.radius)}}"
            class="grid-cell"
            ng-class="cell.cssClass"/>
        </g>

        <g ng-if="ctrl.plotCircleCenters">
          <circle ng-repeat="circle in ctrl.rosette.circles"
            ng-attr-cx="{{circle.center.x}}"
            ng-attr-cy="{{circle.center.y}}"
            r="2"
            style="fill: red"/>
        </g>

        <g ng-if="ctrl.plotCellCenters" ng-repeat="cellsForAngle in ctrl.rosette.cells">
          <circle ng-repeat="cell in cellsForAngle"
            ng-attr-cx="{{cell.centroid().x}}"
            ng-attr-cy="{{cell.centroid().y}}"
            r="2"
            style="fill: blue"/>
        </g>

        <g ng-if="ctrl.plotCellMedians" ng-repeat="cellsForAngle in ctrl.rosette.cells">
          <g ng-repeat="cell in cellsForAngle">
            <circle ng-repeat="point in cell.medians"
              ng-attr-cx="{{point.x}}"
              ng-attr-cy="{{point.y}}"
              r="2"
              style="fill: green"/>
          </g>
        </g>

        <g ng-if="ctrl.plotVertices">
          <g ng-repeat="angle in ctrl.rosette.angles">
            <circle ng-repeat="point in ctrl.rosette.vertices.get(angle)"
              ng-attr-cx="{{point.x}}"
              ng-attr-cy="{{point.y}}"
              r="2"
              class="vertex"/>
            <text ng-repeat="point in ctrl.rosette.vertices.get(angle)"
              ng-attr-x="{{point.x}}"
              ng-attr-y="{{point.y}}"
              class="text">({{angle}}, {{$index}})</text>
          </g>
        </g>

        <g ng-if="ctrl.plotRadials">
          <g ng-repeat="radial in ctrl.rosette.radials">
            <path
              ng-attr-d="{{radial.toPolygonSVG()}}"
              class="radial"/>
            <text
              ng-attr-x="{{radial.labelCoords.x}}"
              ng-attr-y="{{radial.labelCoords.y}}"
              class="text">{{ $index }}</text>
          </g>
        </g>

        <g ng-if="ctrl.drawCellInlays" ng-repeat="cellsForAngle in ctrl.rosette.cells">
          <path ng-repeat="cell in cellsForAngle"
            ng-attr-d="{{ctrl.getInlayPathSpec(cell)}}"
            class="inlay"/>
        </g>
      </svg>
    </div>

    <div id="src-box" ng-show="ctrl.srcVisible" ng-cloak>
      <button id="select-all" ng-click="ctrl.selectSource()">Select All</button>
      <code id="svg-source">
      </code>
    </div>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
    <script src="//google-code-prettify.googlecode.com/svn/loader/prettify.js"></script>
    <script src="//prettydiff.com/lib/markupmin.js"></script>
    <script src="//prettydiff.com/lib/markup_beauty.js"></script>

    <script src="//google.github.io/traceur-compiler/bin/traceur.js"></script>
    <script src="//cdn.rawgit.com/ModuleLoader/es6-module-loader/15dc9bae5f04cc35b2d57aa4eac056249c4637ff/dist/es6-module-loader.js"></script>
    <script>
      traceur.options.experimental = true;
    </script>
    <script type="module">
      import { main } from 'main';
    </script>
  </body>
</html>
