body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

svg {
  height: 100%;
  width: 100%;
}

.html-wireframe {
  color: black;
  background-color: white;
}

.html-normal {
  color: white;
  background-color: black;
}

.shape-wireframe {
  stroke: black;
  fill: none;
}

.shape-normal {
  stroke: none;
  fill: white;
  fill-opacity: 0.1;
}

.grid-cell {
  stroke: none;
  fill-opacity: 0.5;
}

.grid-cell:hover {
  fill-opacity: 1.0;
}

.grid-cell-0 { fill: red; }
.grid-cell-1 { fill: orange; }
.grid-cell-2 { fill: yellow; }
.grid-cell-3 { fill: green; }
.grid-cell-4 { fill: blue; }
.grid-cell-5 { fill: purple; }

.vertex-0 { fill: red; }
.vertex-1 { fill: orange; }
.vertex-2 { fill: yellow; }
.vertex-3 { fill: green; }
.vertex-4 { fill: blue; }
.vertex-5 { fill: purple; }

.text-0 { fill: red; font-size: 10px }
.text-1 { fill: orange; font-size: 10px }
.text-2 { fill: yellow; font-size: 10px }
.text-3 { fill: green; font-size: 10px }
.text-4 { fill: blue; font-size: 10px }
.text-5 { fill: purple; font-size: 10px }

.radial-0 { stroke: red;}
.radial-1 { stroke: orange; }
.radial-2 { stroke: yellow; }
.radial-3 { stroke: green; }
.radial-4 { stroke: blue; }
.radial-5 { stroke: purple; }

#controls {
  position: absolute;
  right: 0px;
  width: 250px;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 10px;
  margin: 10px;
}
