html, body, svg {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  position: relative;
  font-family: sans-serif;
}

.control-panel {
  position: absolute;
  right: 10px;
  top: 10px;
  background: rgba(128, 128, 128, 0.5);
  padding: 10px;
  border-radius: 3px;
  color: white
}

.control-panel:hover {
  background: rgba(128, 128, 128, 0.8);
}

svg {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: black;
}

.rosette__radial--solid
.rosette__radial--line,
.rosette__guide-circle--line {
  stroke-width: 0.04;
  stroke: #00f;
  fill: none;
}

.rosette__guide-circle--solid {
  stroke: none;
  fill: #00f;
  opacity: 0.1;
}

.rosette__circle--line,
.rosette__cell--line {
  stroke-width: 0.04;
  stroke: #fff;
  fill: none;
}

.rosette__circle--solid,
.rosette__cell--solid {
  stroke: none;
  fill: #fff;
  opacity: 0.1;
}

.rosette__circle--line:hover,
.rosette__cell--line:hover {
  stroke: #f00;
  fill: #f00;
  opacity: 1;
}

.rosette__circle--solid:hover,
.rosette__cell--solid:hover {
  fill: #f00;
  opacity: 1;
}

.control-panel {
  display: table;
}

.control-panel__row {
  display: table-row;
}

.control-panel__cell {
  display: table-cell;
  padding-left: 5px;
  padding-right: 5px;
}
