.background      { fill: black; }
.circle          { stroke: none; fill: white; fill-opacity: 0.1; }
.circle:hover    { fill-opacity: 0.5; }
.vertex          { fill: white; }
.text            { fill: white; font-size: 10px; }
.grid-cell:hover { fill: white; stroke: #EEE; }
.grid-cell-0     { fill: #DDD; stroke: #CCC; }
.grid-cell-1     { fill: #BBB; stroke: #AAA; }
.grid-cell-2     { fill: #999; stroke: #888; }
.grid-cell-3     { fill: #777; stroke: #666; }
.grid-cell-4     { fill: #999; stroke: #888; }
.grid-cell-5     { fill: #BBB; stroke: #AAA; }
.radial          { stroke: white; stroke-width: 1; fill: none; }
.inlay           { fill: #88C; fill-opacity: 0.5; }
.inlay:hover     { fill-opacity: 1.0; }
