@import '../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import '../node_modules/bourbon-neat/app/assets/stylesheets/neat';

html, body, svg {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  background: #000;
  font-family: sans-serif;
  overflow: hidden;
  position: relative;
  width: 100%;
}

svg {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

$base-spacing: 5px;
$base-transition-duration: 250ms;

.control-panel {
  $control-panel-width: 200px;
  $transition-timing-function: ease-in-out;

  background: rgba(128, 128, 128, 0.5);
  border-radius: 3px;
  color: white;
  padding: $base-spacing * 2;
  position: absolute;
  right: 0;
  top: $base-spacing * 2;
  transform: translateX($control-panel-width - 25px);
  transition: transform $base-transition-duration $transition-timing-function;
  width: $control-panel-width;
  will-change: transform;
  z-index: 100;

  &:hover {
    transform: translateX(0);
  }

  &__row {
    opacity: 0;
    transition: $base-transition-duration $transition-timing-function;
    will-change: opacity;

    &:not(:first-child) {
      margin: $base-spacing 0;
    }

    .control-panel:hover & {
      opacity: 1;
    }
  }

  &__cell {
    border-radius: 2px;
    border: none;
    display: block;
    margin-bottom: $base-spacing;
    padding-left: $base-spacing;
    padding-right: $base-spacing;
    width: 100%;
  }

  &__label {
    font-size: rem(12);
    margin-bottom: $base-spacing;
  }
}

.rosette {
  &__guide-circle {
    stroke-width: 0.04;
    stroke: #00f;
    fill: none;
  }

  &__circle {
    stroke-width: 0.04;
    stroke: #fff;
    fill: none;
  }

  &__cell {
    stroke-width: 0.04;
    stroke: #fff;
    fill: none;
  }
}
