html, body, svg {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  position: relative;
  font-family: sans-serif;
}

svg {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: black;
}

.control-panel {
  display: table;
  position: absolute;
  right: 10px;
  top: 10px;
  background: rgba(128, 128, 128, 0.5);
  padding: 10px;
  border-radius: 3px;
  color: white;

  &__row {
    display: table-row;
  }

  &__cell {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.rosette {
  &__guide-circle {
    stroke-width: 0.04;
    stroke: #00f;
    fill: none;
  }

  &__circle{
    stroke-width: 0.04;
    stroke: #fff;
    fill: none;
  }

  &__cell {
    stroke-width: 0.04;
    stroke: #fff;
    fill: none;
  }
}
