<div id="controls" ng-cloak>
  <table>
    <tr>
      <td>Radius:</td>
      <td>{{ctrl.rosette.radius}}</td>
      <td>
        <input
          type="range"
          min="50"
          max="1000"
          ng-model="ctrl.rosette.radius"
          ng-change="ctrl.recompute()">
        </input>
      </td>
    </tr>
    <tr>
      <td>Guide Radius:</td>
      <td>{{ctrl.rosette.guideCircle.radius}}</td>
      <td>
        <input
          type="range"
          min="50"
          max="1000"
          ng-model="ctrl.rosette.guideCircle.radius"
          ng-change="ctrl.recompute()">
        </input>
      </td>
    </tr>
    <tr>
      <td>Samples:</td>
      <td>{{ctrl.rosette.numCircles}}</td>
      <td>
        <input
          type="range"
          min="1"
          max="64"
          ng-model="ctrl.rosette.numCircles"
          ng-change="ctrl.recompute()">
        </input>
      </td>
    </tr>
  </table>
  Render Mode:
  <select ng-model="ctrl.mode"
    ng-options="opt as opt.label for opt in ctrl.modes"
    ng-change="ctrl.recompute()">
  </select><br>
  <input
    type="checkbox"
    ng-model="ctrl.plotVertices">
    Plot Vertices
  </input><br>
  <input
    type="checkbox"
    ng-model="ctrl.plotRadials">
    Plot Radials
  </input><br>
  <input
    type="checkbox"
    ng-model="ctrl.plotCircleCenters">
    Plot Circle Centers
  </input><br>
  <input
    type="checkbox"
    ng-model="ctrl.plotCellCenters">
    Plot Grid Cell Centers
  </input><br>
  <input
    type="checkbox"
    ng-model="ctrl.plotCellMedians">
    Plot Grid Cell Medians
  </input><br>
  <input
    type="checkbox"
    ng-model="ctrl.drawCellInlays">
    Draw Cell Inlays
  </input>
  <input type="number"
    ng-model="ctrl.inlaySize"
    ng-change="ctrl.recompute()"
    min="1"
    max="100"><br>
  <select ng-model="ctrl.inlayStyle"
    ng-options="opt as opt.label for opt in ctrl.inlayStyles"
    ng-disabled="!ctrl.drawCellInlays"
    ng-change="ctrl.recompute()">
  </select>
</div>
