<div id="rendering" ng-cloak vs-view-source doctype="ctrl.doctype" cssdefs="ctrl.svgCss">
  <svg>
    <rect x="0" y="0" width="100%" height="100%" class="background"/>

    <g ng-if="'CIRCLES' === ctrl.mode.value">
      <circle ng-repeat="circle in ctrl.rosette.circles"
        ng-attr-cx="{{circle.center.x}}"
        ng-attr-cy="{{circle.center.y}}"
        ng-attr-r="{{circle.radius}}"
        class="circle"/>
    </g>


    <g ng-if="ctrl.plotCircleCenters">
      <circle ng-repeat="circle in ctrl.rosette.circles"
        ng-attr-cx="{{circle.center.x}}"
        ng-attr-cy="{{circle.center.y}}"
        r="2"
        style="fill: red"/>
    </g>

     <g ng-repeat="cellsForAngle in ctrl.rosette.cells">
      <g ng-repeat="cell in cellsForAngle">
        <path
          ng-if="!!ctrl.mode.drawCells"
          ng-attr-d="{{ctrl.cellPathSpecs.get(cell)}}"
          class="grid-cell"
          ng-class="cell.cssClass"/>
        </path>

        <circle
          ng-if="ctrl.plotCellCenters"
          ng-attr-cx="{{cell.centroid().x}}"
          ng-attr-cy="{{cell.centroid().y}}"
          r="2"
          style="fill: blue"/>

        <circle
          ng-if="ctrl.plotCellMedians"
          ng-attr-cx="{{point.x}}"
          ng-attr-cy="{{point.y}}"
          r="2"
          style="fill: green"/>

        <path
          ng-if="ctrl.drawCellInlays"
          ng-attr-d="{{ctrl.inlayPathSpecs.get(cell)}}"
          class="inlay"/>
      </g>
    </g>

    <g ng-if="ctrl.plotVertices">
      <g ng-repeat="angle in ctrl.rosette.angles">
        <circle ng-repeat="point in ctrl.rosette.vertices.get(angle)"
          ng-attr-cx="{{point.x}}"
          ng-attr-cy="{{point.y}}"
          r="2"
          class="vertex"/>
        <text ng-repeat="point in ctrl.rosette.vertices.get(angle)"
          ng-attr-x="{{point.x}}"
          ng-attr-y="{{point.y}}"
          class="text">({{angle}}, {{$index}})</text>
      </g>
    </g>

    <g ng-if="ctrl.plotRadials">
      <g ng-repeat="radial in ctrl.rosette.radials">
        <path
          ng-attr-d="{{radial.toPolygonSVG()}}"
          class="radial"/>
        <text
          ng-attr-x="{{radial.labelCoords.x}}"
          ng-attr-y="{{radial.labelCoords.y}}"
          class="text">{{ $index }}</text>
      </g>
    </g>
  </svg>
</div>
